<%= form_with(model: speek, local: true) do |form| %>
  <% if speek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speek.errors.count, "error") %> prohibited this speek from being saved:</h2>

      <ul>
        <% speek.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content %><br /> 
    <%= form.text_area :content %>
  </div>

  <div class="form-group">
    <%= form.label :category %><br />
    <%= form.select :category, Speek::CATEGORIES %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
