<h3 class="pb-3">Search Results</h3>

<div class="row">
  <% @results.each do |result| %>
    <div class="col-8">
      <div class="card mb-3">
        <div class="card-header">
          <% if current_user %>
            <%= image_tag user_avatar(current_user, 20), class: "rounded-circle" %> <%= result.user.username %> </br>
            <small>Spoke on: <%= result.created_at.strftime('%b %d, %Y') %></small>
          <% else %>
            <%= image_tag user_avatar(speek.user, 20), class: "rounded-circle" %> <%= result.user.username %> </br>
            <small>Spoke on: <%= result.created_at.strftime('%b %d, %Y') %></small>
          <% end %>
        </div>
        <div class="card-body">
          <h5><%= result.title %></h5> </br>
          <p class="card-text"><%= result.content %></p>
        </div>
        <div class="card-footer">
          <% if result.comments.any? && user_signed_in? %>
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <% if result.liked?(current_user) %>
                  <%= link_to like_path(result), method: "put", class: "nav-link", disabled: true do %>
                    <i class="fas fa-thumbs-up"></i>
                  <% end %>
                <% else %>
                  <%= button_to like_path(result), method: "put", class: "nav-link" do %>
                    <i class="fas fa-thumbs-up"></i>
                  <% end %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to favorite_speeks_path(speek_id: result.id), method: :post, class: "nav-link" do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to speek_path(result), class: "nav-link" do %>
                  <i class="fas fa-eye"></i>
                <% end %>
              </li>
            </ul>
          <% elsif user_signed_in?  %>
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <%= link_to "Like", class: "nav-link" do %>
                  <i class="fas fa-thumbs-up"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to favorite_speeks_path(speek_id: result.id), method: :post, class: "nav-link" do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </li>
            </ul>
          <% elsif result.comments.any?  %>
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <%= link_to speek_path(result), class: "nav-link" do %>
                  <i class="fas fa-eye"></i>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
