<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @speek.content %>
</p>

<%= link_to 'Edit', edit_speek_path(@speek) %> |
<%= link_to 'Back', speeks_path %>

<h3>Comments</h3>
<%= render partial: 'comments/form', locals: { commentable: @speek } %>
<%= render @speek.comments.where(parent_id: nil) %>
