<% nesting = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>

<div class="border-left p-4 mb-4">
  <% if comment.deleted? %>
    <strong>[deleted]</strong> posted
    <p>[deleted]</p>
  <% else %>
    <strong><%= comment.user.username %></strong> posted
    <%= simple_format comment.comment_content %>
  <% end %>

  <div data-controller="reply">
    <small>
      <% if comment.user == current_user || current_user.admin == true %>
        <%= link_to "#", data: { action: 'click->reply#toggle' } do %>
          <i class="fas fa-reply"></i>
        <% end %>
        <%= link_to [comment.commentable, comment], method: :delete, data: {confirm: "Are you sure?"}, class: 'pl-2' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% else %>
        <%= link_to "#", data: { action: 'click->reply#toggle' } do %>
          <i class="fas fa-reply"></i>
        <% end %>
      <% end %>
    </small>
    <%= render partial: 'comments/form', locals: {
        commentable: comment.commentable,
        parent_id: reply_to_comment_id(comment, nesting, max_nesting),
        class: 'd-none',
        target: "reply.form"
      } %>
  </div>

  <%= render comment.comments, nesting: nesting + 1, max_nesting: local_assigns[:max_nesting] %>
</div>
