<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'GeekSpeek', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">
    <% if user_signed_in? && current_user.admin == true %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to edit_user_registration_path, class: 'nav-link' do %>
            <%= image_tag user_avatar(current_user, 20), class: "rounded-circle" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do %>
            <span class="icon is-small has-text-link"><i class="fa fa-sign-out-alt"></i> Sign Out</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_speek_path, class:"nav-link" do %>
            <span class="icon is-small has-text-link"><i class="fa fa-edit"></i> Speek</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to favorite_speeks_path, class: 'nav-link' do %>
            <span class="icon is-small has-text-link"><i class="fas fa-heart"></i> Faviorites (<%= current_user.favorites.count %>)</span>
          <% end %>
        </li>
      </ul>
    <% elsif user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to edit_user_registration_path, class: 'nav-link' do %>
            <%= image_tag user_avatar(current_user, 20), class: "rounded-circle" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do %>
            <span class="icon is-small has-text-link"><i class="fa fa-sign-out-alt"></i> Sign Out</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to favorites_path, class: 'nav-link' do %>
            <span class="icon is-small has-text-link"><i class="fas fa-heart"></i> Faviorites <%= current_user.favorites.count %></span>
          <% end %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'nav-link'  do %>
            <span class="icon is-small has-text-link"><i class="fa fa-sign-in-alt"></i> Sign In</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class:"nav-link" do %>
            <span class="icon is-small has-text-link"><i class="fa fa-plus"></i> Sign Up</span>
          <% end %>
        </li>
      </ul>
    <% end %>
    <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "Search", :class => 'btn btn-primary ml-2',:name => nil%>
        </div>
      </div>
    <% end %>
  </div>
</nav>
